/*********** CSS reset ***********/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 21px;
}


/*********** Layout webpage ***********/
.outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*border: 2px solid blue;*/
}

.inner-container{
    display: flex;
    flex-direction: column;
    flex-basis: 1400px;
    align-items: center;
    margin: 0 50px;
    /*border: 2px solid orchid;*/
}

#error-message{
/*border: 2px solid peru;*/
}



/*********** Interactieve wereldkaart ***********/
.world-pic {
    visibility: hidden;
}

.world-box{
    /*border: 2px solid #d5791d;*/
    position: relative;
}

.blauw{
    position: absolute;
    left: 607px;
    top: 315px;
    height: 383px;
    transition: height 2s;
}

.blauw:hover{
    height: 480px;
    z-index: 1;
}

.donkerGroen{
    position: absolute;
    left: 42px;
    top: 113px;
    z-index: 1;
    height: 364px;
    transition: height 2s;
}

.donkerGroen:hover{
    height: 464px;
}

.geel{
    position: absolute;
    left: 59px;
    top: 114px;
    height: 219px;
    transition: height 2s;
}

.geel:hover{
    height: 269px;
    z-index: 1;
}

.lichtGroen{
    position: absolute;
    left: 308px;
    top: 448px;
    height: 358px;
    transition: height 2s;
}

.lichtGroen:hover{
    height: 500px;
    z-index: 1;
}

.paars{
    position: absolute;
    left: 1197px;
    top: 529px;
    height: 217px;
    transition: height 2s;
}

.paars:hover{
    height: 317px;
    z-index: 1;
}

.rood{
    position: absolute;
    left: 795px;
    top: 222px;
    height: 355px;
    transition: height 2s;
}

.rood:hover{
    height: 452px;
    z-index: 1;
}


/*********** Country Button ***********/
.btn-landen{
    padding: 5px;
    margin: 15px 0;
    border-radius: 5px;
    border: none;
    color: #969696;
}

.btn-landen:hover{
    box-shadow: 1px 1px 1px 3px #ffc3c3;
}


/*********** listproperties ***********/
.uList{
    list-style: none;


    column-count: 3;
    /*border: 2px solid red;*/
    border-radius: 10px;
    padding: 15px;
    box-shadow: #ababab 1px 1px 8px 3px;
    /*display: flex;*/
}

.flag{
    height: 35px;
}

li{
    /*padding: 5px;*/
}
/*********** De gekleurde namen van de landen ***********/
.africa {
    color: blue;
}

.americas {
    color: green;
}

.asia {
    color: red;
}

.europe {
    color: yellow;
}

.oceania {
    color: purple;
}
