/*CSS reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*border: 2px solid blue;*/
}

#error-message{
    /*border: 2px solid peru;*/
}

.inner-container{
    display: flex;
    flex-direction: column;
    flex-basis: 1400px;
    align-items: center;
    margin: 0 50px;
    /*border: 2px solid orchid;*/
}
.world-pic {
    visibility: hidden;
}

.world-box{
    /*border: 2px solid #d5791d;*/
    position: relative;
}

.blauw{
    position: absolute;
    left: 607px;
    top: 315px;
    height: 383px;
    transition: height 2s;
}

.blauw:hover{
    height: 480px;
    z-index: 1;
}

.donkerGroen{
    position: absolute;
    left: 42px;
    top: 113px;
    z-index: 1;
    height: 364px;
    transition: height 2s;
}

.donkerGroen:hover{
    height: 464px;

}

.geel{
    position: absolute;
    left: 59px;
    top: 114px;
    height: 219px;
    transition: height 2s;
}

.geel:hover{
    height: 269px;
    z-index: 1;
}

.lichtGroen{
    position: absolute;
    left: 308px;
    top: 448px;
    height: 358px;
    transition: height 2s;
}

.lichtGroen:hover{
    height: 500px;
    z-index: 1;
}

.paars{
    position: absolute;
    left: 1197px;
    top: 529px;
    height: 217px;
    transition: height 2s;
}

.paars:hover{
    height: 317px;
    z-index: 1;
}

.rood{
    position: absolute;
    left: 795px;
    top: 222px;
    height: 355px;
    transition: height 2s;
}

.rood:hover{
    height: 452px;
    z-index: 1;
}

#landList{
    /*border: 2px solid red;*/
}